@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1648px;
  width: 51%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  position: relative;
}

.header-content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%)
}

header a { color: #fff; }

.hamburger { 
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  right: 5%;
  top: 7%;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 0;
  border-top: 2px solid #fff;
  margin-bottom: 6px;
  text-indent: -99999px;
  float: left;
}

.hamburger.active .bar1 { transform: rotate(45deg) translateX(7px); }
.hamburger.active .bar2 { display: none; }
.hamburger.active .bar3 { transform: rotate(-45deg) translateX(5px); }

.header-top .wrapper{
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo { flex-basis: 20%; } */

.logo a{
  position: relative;
  font-size: 42px;
}

.logo a::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 2px;
}

.searchform { 
  display: flex;
  justify-content: space-between;
  flex-basis: 32%;
  
}

.search-control { width: 80%; }

.search-control input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
}

.searchform input[type="submit"] {
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #369FE3;
  cursor: pointer;
}

.header-mid {
  width: 100%;
  padding: 11px 0;
  margin: 20px 0;
  background-color: rgba(42, 120, 193, .5);
}

.header-mid.active {
  position: sticky;
  left: 0;
  top: 10px;
}

.menu { display: flex; }

.menu a { padding: 0 15px; }

.menu a:hover { text-decoration: underline; }

.menuitem { border-left: 1px solid #fff }
.menuitem:nth-child(1){ border: none; }


.header-btm h2 {
  margin: 134px 0 16px;
  font-size: 40px;
  letter-spacing: -1px;
  color: #fff;
}

.header-btm p {
  font-size: 29px;
  color: #fff;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.breadcrumbs { padding: 34px 0 25px; }

.breadcrumbsitem {display: inline-block; }

.breadcrumbsitem:not(:last-of-type)::after {
  content: '\203a';
  margin: 0 5px;
}

.breadcrumbsitem a {
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
}

.breadcrumbsitem:last-child a { 
  color: #000;
  font-weight: bold; 
}

.breadcrumbsitem a:hover { text-decoration: underline; }

main { color: #4a4a4a; }

main h3 {
  font-size: 32px;
}

.main-form { 
  padding: 27px 0;
  box-sizing: border-box; 
}

.form-control { width: 320px; }
.form-control label { font-size: 15px; }
.form-control span { color: #FF0000; }

.form-control select,
.form-control input {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  margin: 10px 0 25px;
  font-size: 16px;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,.2);
  color: #4a4a4a;
}
.footermenu .logo a
.form-control input:focus { border: 1px solid #369FE3; }

.form-control select { 
  color: #fff;
  background-color: #369FE3;
}

.notify {
  display: flex;
  align-items: center;
}

.notify input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  /* appearance: none;
  -webkit-appearance: none; */
  background: #fff;
}

.main-form p {
  margin-bottom: 33px;
  line-height: 21px;
}

.notify + p { margin-top: 33px; }

.main-form p a { color: #369FE3; }

.main-form input[type="submit"] {
  width: 177px;
  padding: 11px 7%;
  border: none;
  border-radius: 3px;
  margin: 10px 0 100px;
  font-size: 16px;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,.2);
  color: #f9f9f9;
  background-color: #369FE3;
  transition: .3s;
}

.main-form input[type="submit"]:hover {
  color: #369FE3;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { background: linear-gradient(to right, #1E579E,#1A3467)}

footer a {color: #f9f9f9;}

footer a:hover { text-decoration:bar1bar3
  underline; }

footer h4,
footer h5,
footer span { color: #f9f9f9; } 

.footermenu {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footermenu li { flex-basis: 27%; }

.footer-menu li {
  padding: 2px 0;
  display: block;
}

.footermenu h4 {
  padding: 10px 0;
  border-top: 1px solid #f9f9f9;
  margin-top: 10px;
}

.footermenu h4 span { font-weight: bold; }

footer h5 {
  padding: 16px 0;
  font-size: 17px;
}

.footermenu .logo a { font-size: 35px; }

.social { display: flex; }

.social li { flex-basis: 0; }

.social a {
  padding: 18px;
  margin: 0 9px;
  /* text-indent: -99999px; */
  /* float: right; */
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
}

.social a::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  transform: translate(-50%,-50%);
  font-family: fontAwesome;
  font-size: 25px;
}

.social a:hover { opacity: .5; }

.social a.linkdin::after { 
  content: '\f0e1';
  color: #0e76a8;
}

.social a.twitter::after { 
  content: '\f099';
  color: #1DA1F2;
}

.social a.youtube::after { 
  content: '\f04b';
  color: #FF0000;
}
.social a.facebook::after { 
  content: '\f09a';
  color: #4267B2;
}

.footerdwn {
  width: 100%;
  background-color: #0F2B57;
}

.footerdwn .wrapper {
  padding: 10px 0; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-list { display: flex; }

.footer-list a { 
  padding: 0 5px;
  font-size: 13px;
}

.footer-list li { border-left: 1px solid #fff }
.footer-list li:nth-child(1){ border: none; }

.footerdwn .wrapper span { font-size: 13px; }

.ScrollBtn a{
  padding: 10px 18px;
  border-radius: 50%;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: #0F2B57;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1204px) {

  .hamburger { 
    display: block;
  }

}  